@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/*--------- описание  header-----------*/
/* .logo {
    font-family: 'Rubik Doodle Shadow', sans-serif;
} */
 
.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 5px 10px;
}

.container {
    width: /*1200*/ 1100px; 
    margin: 0 auto;
}

.header .container{
    display: flex;
    align-items: center;
}

/* .logo h1 {
    vertical-align: bottom;
} */

.logo{
    display: flex;
    align-items: center;
    }

.logo span {
    font-size: 25px;
    letter-spacing:-0.75px;
}

.menu{
    margin-left: 244px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item{
    margin-right: 115px;
}

.menu-item a{
    font-size: 15px;
    color: #030305;
    text-decoration: none;
    /* align-items:center; */
}

.menu-item a:hover{
    border-bottom: 2px solid black;
}
/*--------- конец описание  header-----------*/


/* ----------------Экран номер 1 -------------*/
/* .main{
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    padding: 105px 0 154px 0;
} */

h2 {
    padding-top: 60px;
}

.main-info{
    max-width: 855px;
    /* margin-left: 50px; */
}

.main-title{
    font-weight: bolt;
    font-size: 45px;
    line-height: 90%;
    color: #030305;
    margin-top: 40px;
    margin-bottom: 40px;
    }



.main-text{
    font-size: 16px;
    line-height: 130%;
    color: #030305;
    margin-bottom: 40px;
    max-width: 502px;  
}


.button{
    padding: 20px;
    width: 334px;
    height: 64px;
    background: #030305;
    border: 0;
    box-sizing: border-box;
    text-align: center;


    font-weight: bolt;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: background-color .5s;
}

.button:hover{
    cursor: pointer;
    background: #575757;
}

.final-button{
  margin-bottom: 150px;
}

/* ----------------Конец Экран номер 1 -------------*/

.footer{
    border-top: 1px  solid   #E5E5E5;
    padding: 25px 0
}